---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>

  <p>this is the "slot" tag from "BaseLayout"</p>

  <p>this space is reserved for all the html</p>
  <p></p>

</BaseLayout>